<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/style1.css' %}">
    <link rel="stylesheet" href="{% static 'home/photo-page.css' %}">
    <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}">
    <title>Theophilus Lukas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="d-none d-md-block col-md-2 px-1 bg-dark position-fixed" id="sticky-sidebar"
                style="height: 100%; min-width: 140px; background-color: rgb(255, 164, 59); color:beige">
                <!-- <div class="sidbar-cont">


                    
                    <a class="sidbar-butt" href="/">
                        <img class="sidbar-lab" src="../static/svgs/home.svg" alt="home">
                    </a>

                    <a class="sidbar-butt" href="{% url 'home:story1' %}">
                        <img class="sidbar-lab" src="../static/svgs/account.svg" alt="me">
                    </a>

                    <a class="sidbar-butt" href="{% url 'home:photo' %}">
                        <img class="sidbar-lab" src="../static/svgs/camera.svg" alt="photos web">
                    </a>

                    <a class="sidbar-butt" href="{% url 'story7:index' %}">
                        <img class="sidbar-lab" src="../static/svgs/accordion.svg" alt="form">
                    </a>

                    <a class="sidbar-butt" href="{% url 'story8:index' %}">
                        <img class="sidbar-lab" src="../static/svgs/book.svg" alt="form">
                    </a>

                    {% if user.is_authenticated %}

                        <a class="sidbar-butt" href="{% url 'home:formpelajaran' %}">
                            <img class="sidbar-lab" src="../static/svgs/google-forms.svg" alt="form">                       
                        </a>

                        <a class="sidbar-butt" href="{% url 'home:showpelajaran' %}">
                            <img class="sidbar-lab" src="../static/svgs/folder.svg" alt="form">
                        </a>

                        <a class="sidbar-butt" href="{% url 'story6:index' %}">
                            <img class="sidbar-lab" src="../static/svgs/folder.svg" alt="form">
                        </a>

                        <a class="sidbar-butt" href="{% url 'logout' %}">
                            <h1 class="story9">Logout</h1>
                        </a>

                    {% else %}

                        <a class="sidbar-butt" href="{% url 'login' %}">
                            <h1 class="story9">Login</h1>
                        </a>

                    {% endif %}

                    <a class="sidbar-butt" href="{% url 'secret:index' %}">
                        <h1 class="story9">LIFE CHANGING STUFF</h1>
                    </a>

                    <a class="sidbar-butt" href="{% url 'account:register' %}">
                        <h1 class="story9">Register</h1>
                    </a>

                </div> -->
            </div>
            <div class="col offset-2" id="main">

                {% if user.is_authenticated %}

                    <h1 style="text-align: center; font-weight: 2em;background:rgb(49, 86, 206); color:aliceblue; height: 2em;">Hello, {{ user.username }}</h1>

                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>



</body>