@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.searchbar {
	margin-top: 5%;
	text-align: center;
}

#searchword {
	height: 50px;
	width: 863px;
	border: none;
	border-bottom: 3px solid black;
	transition: all 0.2s;
}

#searchword:focus {
	outline:none;
	border-bottom: 6px solid black;
}

#searchword:hover {
	
	border-bottom: 6px solid black;
}

.book-list {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;

}

.book-desc {
	font-size: medium;
	display: flex;
	background-color: rgb(248, 248, 248);
	border: 2px solid rgba(179, 179, 179, 0.527);
	transition: all 500ms;
}

.book-desc:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

.book-title {
	font-size: 2em;
}

.book-thumbnail {
	width: 130px;
	height: 231px;
}

.book-thumbnail, .book-text {
	padding: 1em;
}

.book-publisher {
	font-style: italic;
}

.book-rating {
	color: rgb(0, 60, 128);
}

.learn-more {
	float: left;
	width: 110px;
	height: 50px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 5%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 50px;
	transition: all 300ms;
	color: black;
	border: 2px solid rgb(197, 197, 197);
}

.learn-more h3 {
	margin-top: 10%;
	
}

.learn-more:hover {
	background-color: rgb(44, 44, 44);
	color: white;
	border: 2px solid rgb(87, 87, 87);
}


  

@media screen and (max-width: 900px) {
	.book-list {
		grid-template-columns: 100%;
	
	}

}


