{% extends 'base.html' %}

{% block content %}
<div class="intro-flex">

    <div class="front-image" id="top"></div>

    <div class="intro">
        <br><br>
        <h1 class="top-name">
            THEOPHILUS
            <br>LUKAS
        </h1>
        <h3 class="institution">
            Universitas Indonesia - Faculty of Computer Science
        </h3>
        <h3 class="location">
            Jakarta, Indonesia
        </h3>
        <p class="mini-desc">
            An aspiring web developer and a UI design enthusiast. Currently pursuing a degree in
            Computer
            Science in the
            University of Indonesia.
        </p>
        <h3 class="email">
            Theophilus.Lukas@ui.ac.id
        </h3>
        <br><br><br><br><br>
        <div class="soc-med">
            <a href="https://www.instagram.com/lukas.pictures/">
                <img src="../static/svgs/instagram.svg" alt="instagram" class="instagram">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100005343438494">
                <img src="../static/svgs/facebook.svg" alt="facebook" class="facebook">
            </a>
            <a href="https://www.linkedin.com/in/theophilus-hotasi-07038a237/">
                <img src="../static/svgs/linkedin.svg" alt="linkedin" class="linkedin">
            </a>
            <a href="https://twitter.com/Legendary_Lukas">
                <img src="../static/svgs/twitter.svg" alt="twitter" class="twitter">
            </a>
            <a href="https://gitlab.com/Theophilus_Lukas">
                <img src="../static/svgs/github.svg" alt="github" class="github">
            </a>

        </div>
    </div>

</div>

<div class="page2">

    <div class="about-me-flex" id="self-desc">
        <h2 class="about-me-title">
            About<br>
            Me
        </h2>
        <p class="about-me-par">
            Born in January 2001, in Jakarta, Indonesia. Has been interested in computers since
            first grade.
            Started my programming journey in highschool when i entered the national programming competition.
            My first
            language was Pascal and C#.
            <br><br>
            Now, I mostly use Python and Java. working on projects with Django and Springboot.
        </p>
    </div>


    <div class="skill">

        <div class="lang-logo">
            <div class="langitems">
                <img src="../static/svgs/java.svg" alt="java" class="logo">
                <img src="../static/svgs/python.svg" alt="python" class="logo">
                <img src="../static/svgs/hashtag.svg" alt="c sharp" class="logo">
                <img src="../static/svgs/matlab-svgrepo-com.svg" alt="Photoshop" class="logo">
            </div>
            <div class="langitems">
                <img src="../static/svgs/django-svgrepo-com.svg" alt="Photoshop" class="logo">
                <img src="../static/svgs/node-svgrepo-com.svg" alt="Photoshop" class="logo">
                <img src="../static/svgs/react-svgrepo-com.svg" alt="Photoshop" class="logo">
                <img src="../static/svgs/spring-boot-svgrepo-com.svg" alt="Photoshop" class="logo">
                <img src="../static/svgs/pgsql-svgrepo-com.svg" alt="Photoshop" class="logo">
            </div>
            <div class="langitems">
                <img src="../static/svgs/css-3.svg" alt="css" class="logo">
                <img src="../static/svgs/html-5.svg" alt="html" class="logo">
                <img src="../static/svgs/js-svgrepo-com.svg" alt="Photoshop" class="logo">
                <img src="../static/svgs/typescript-logo-svgrepo-com.svg" alt="Photoshop" class="logo">
            </div>
        </div>

        
        <h2 class="skill-title">
            Known<br>
            Languages<br>
            & Tools
        </h2>
    </div>

    <div class="side-me"></div>


    <div class="other-interest-flex">
        <h2 class="interest-title">
            Other<br>
            Skillsets<br>
            & Interests
        </h2>
        <div class="interest-logo">
            <img src="../static/svgs/lightroom.svg" alt="Lightroom" class="logo">
            <img src="../static/svgs/premier.svg" alt="Premiere" class="logo">
            <img src="../static/svgs/photoshop.svg" alt="Photoshop" class="logo">
        </div>
    </div>
</div>

<div id="education-link" class="education-panel">
    <div>
        <h2 class="education-title">
            Education
        </h2>
        <br>
        <ul class="edu-list" style="list-style-type:none;">
            <li>Universitas Indonesia</li>
            <li>SMAK 7 PENABUR</li>
            <li>SMPK 5 PENABUR</li>
            <li>SDK 4 PENABUR</li>
        </ul>

    </div>
    <br><br><br>
</div>
{% endblock %}
