
{% extends 'base.html' %}
   
{% block content %}
   <div class="top-name-1">
        <h1>LUKAS</h1>
        <div class="full-name-1">
            <h1>THEOPHILUS LUKAS</h1>
        </div>
        <div class="moto-1">
            <h2>~ Flectere si nequeo superos, Acheronta movebo ~</h2>
        </div>
        <div class="email-1">
            <h2>University of Indonesia - Faculty of Computer Science - 1906398332</h2>
            <h2>Theophilus.Lukas@ui.ac.id</h2>
        </div>
    </div>
    <img class="img-me-1" src="../static/img/obme.jpg" alt="Theophilus Lukas">
    <h2 class="in-memoriam-1">In Vitae Celebrationem</h2>
    <h2 class="years-active-1">
        2001 - 69420
    </h2>
    <div class="flex-row-1">
        <div class="about-me-box-1">
            <div class="about-me-1">
                <h2>About Me</h2>
            </div>
            <p class="about-me-par-1">
                Born in January, 2001 in the city of Jakarta, Indonesia into a family of five.
                <br>Currently pursuing a degree in Computer Science at the University of Indonesia.
            </p>
        </div>
        <div class="education-1">
            <div class="education-title-1">
                <h2> Education </h2>
            </div>
            <div class="education-content-1">
                <ul class="school-name-1">
                    <li>SDK 4 PENABUR</li>
                    <li>SMPK 5 PENABUR</li>
                    <li>SMAK 7 PENABUR</li>
                    <li>Universitas Indonesia</li>
                </ul>
                <dl class="school-year-1">
                    <dt>2007 - 2013</dt>
                    <dt>2013 - 2016</dt>
                    <dt>2016 - 2019</dt>
                    <dt>2019 - now</dt>
                </dl>
            </div>
        </div>

    </div>
{% endblock %}
