<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accordion</title>
  <link rel="stylesheet" href="{% static 'story7/styleacc.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
</head>
<body>
<h1 class="judul">ACCORDIONS</h1>
<div class="wrapper">
  <div class="accordion_wrap accordion_1">
    <div class="accordion_header">
      Best Music Christmas Music
      <div class="RightFloat">
        <button value='up' class="singbutt">Up</button>
        <button value='down' class="singbutt">Down</button>
      </div>
    </div>
    <div class="accordion_body">
      <iframe src="https://open.spotify.com/embed/track/4ztOa2BmRDnZPrqrUD7gjN" width="300" height="230" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    
  </div>
  <div class="accordion_wrap accordion_2">
    <div class="accordion_header">
      Current Activity
      <div class="RightFloat">
        <button value='up' class="singbutt">Up</button>
        <button value='down' class="singbutt">Down</button>
      </div>
    </div>
    <div class="accordion_body">
       <p>Studying computer science in the University of Indonesia. Soon to be IISMA Awardee?? </p>
    </div>
    
  </div>
  <div class="accordion_wrap accordion_3">
    <div class="accordion_header">
      Organizational Experience
      <div class="RightFloat">
        <button value='up' class="singbutt">Up</button>
        <button value='down' class="singbutt">Down</button>
      </div>
    </div>
    <div class="accordion_body">
      <p>Worked with developers to make websites such as projectsaveus.herokuapp.com, with the intention of helping share information regarding the pandemic.
        Making a website to anonymously report academic misconduct in campus.
      </p>
    </div>
    
  </div>
  <div class="accordion_wrap accordion_4">
    <div class="accordion_header">
      Achievments
      <div class="RightFloat">
        <button value='up' class="singbutt">Up</button>
        <button value='down' class="singbutt">Down</button>
      </div>
    </div>
    <div class="accordion_body">
      <ul class="unordered">
        <li>
          3 Victories on Apex Legends with Mirage
        </li>
        <li>
          Gold 1 on Rainbow Six Siege
        </li>
        <li>
          Completed every raid on Destiny 2
        </li>
        <li>
          A cool vandal skin in Valorant
        </li>
      </ul>
    </div>
    
  </div>
</div>

<br><br>
<a href="{% url 'home:index' %}" class="singbutt-rev">Back to Main Page</a>
<br><br>

<div id="accordion" style="width:700px; margin-left: 33%">
  <h3>Identity</h3>
  <div>
    <p>
      issa me, lukas
    </p>
  </div>
  <h3>Current Activity</h3>
  <div>
    <p>
      Studying computer science in the University of Indonesia. Soon to be IISMA Awardee??
    </p>
  </div>
  <h3>Organizational Experience</h3>
  <div>
    <p>
      Worked with developers to make websites such as projectsaveus.herokuapp.com, with the intention of helping share information regarding the pandemic.
      Making a website to anonymously report academic misconduct in campus.
    </p>
  </div>
  <h3>Achievments</h3>
  <div>
    <ul>
      <li>
        3 Victories on Apex Legends with Mirage
      </li>
      <li>
        Gold 1 on Rainbow Six Siege
      </li>
      <li>
        Completed every raid on Destiny 2
      </li>
      <li>
        A cool vandal skin in Valorant
      </li>
    </ul>
  </div>
</div>
<br><br><br>


<script>
  $(document).ready(function(){
    $(".accordion_header").click(function(){
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
      } else {
        $(this).addClass("active"); 
      }
            
    });
  });

  function moveUp(item) {
    var prev = item.prev();
    if (prev.length == 0)
        return;
    prev.css('z-index', 999).css('position','relative').animate({ top: item.height() }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function () {
        prev.css('z-index', '').css('top', '').css('position', '');
        item.css('z-index', '').css('top', '').css('position', '');
        item.insertBefore(prev);
    });
}
function moveDown(item) {
    var next = item.next();
    if (next.length == 0)
        return;
    next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
    item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function () {
        next.css('z-index', '').css('top', '').css('position', '');
        item.css('z-index', '').css('top', '').css('position', '');
        item.insertAfter(next);
    });
}

$('button').click(function() { 
    var btn = $(this);
    var val = btn.val();
    if (val == 'up')
        moveUp(btn.parents('.accordion_wrap'));
    else
        moveDown(btn.parents('.accordion_wrap'));
    
    $(".accordion_header").removeClass("active");
});
  
$( function() {
  $( "#accordion" ).accordion();
} );
</script>
</body>
</html>