<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story6/bootstrap.min.css' %}">
    <title>Form Kegiatan</title>
</head>

<body>
    <div class="text-center" style="margin-top: 300px">
        <h1 style="font-family: 'Roboto', sans-serif; font-size: 200px">KEGIATAN</h1>
        <form method="POST" style="font-size: 40px;"> {% csrf_token %}
            {{form.as_p}}
            <button>submit</button>
        </form>
        <a href="{% url 'story6:index' %}">
            <h2>Mundur Lur</h2>
        </a>
    </div>



</body>

</html>