<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story6/bootstrap.min.css' %}">

    <title>Show Kegiatan</title>
</head>

<body>
    <div style="max-width: 1500px; margin-left: 30px; font-family: 'Roboto', sans-serif;">
        <h1 style="padding: 10px; font-size: 90px; max-width: 800px; margin-left: 50px; border-bottom : 10px solid black">KEGIATAN DAN PESERTA</h1>

        <div style="max-width: 800px; margin-left: 50px; font-family: 'Roboto', sans-serif;">
            {% for event in daftar %}

            <h1 style="max-width: 800px; font-size: 50px; font-family: 'Roboto', sans-serif; background-color:rgba(0, 76, 255, 0.322);border-left : 10px solid black; padding: 10px;">
                {{ event.namakegiatan }} - {{ event.hari }}</h1><br>

            <ul style="list-style-type: none">
                {% for member in peserta %}

                {% if member.pengikut == event %}
                <li>
                    <h2
                        style="padding: 0px; font-size: 40px; max-width: 300px; margin:0%; font-family: 'Roboto', sans-serif; border-bottom: 10px solid rgba(224, 224, 224, 0.671)">
                        {{ member.namapeserta }}</h2><br>
                </li>
                {% endif %}

                {% endfor %}
            </ul>

            {% endfor %}

        </div>



        <a href="{% url 'story6:kegiatan' %}">
            <h1
                style="background-color:rgb(214, 214, 214); padding: 10px; font-size: 30px; max-width: 300px; margin-left: 50px; font-family: 'Roboto', sans-serif; border-right : 10px solid black">
                Tambah Kegiatan</h1>
        </a>
        <a href="{% url 'story6:peserta' %}">
            <h1
                style="background-color:rgb(214, 214, 214); padding: 10px; font-size: 30px; max-width: 300px; margin-left: 50px; font-family: 'Roboto', sans-serif; border-right : 10px solid black">
                Tambah Peserta</h1>
        </a>
    </div>



</body>

</html>