{% extends 'base.html' %}


{% block content %}
<h1>LOGIN</h1>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">login</button>
    </form>
</div>
{% endblock %}