{% extends 'base.html' %}


{% block content %}
<h1>REGISTER</h1>
<br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">register</button>
    </form>
</div>
{% endblock %}