<!DOCTYPE html>


<html>
{% load static %}

    <head>
        <link rel="stylesheet" href="{% static 'financialsecret/money.css' %}">
    </head>
    <body>

    {% if user.is_authenticated %}

    
        <h1 class="titleofmoney"> LIFE CHANGING STUFF </h1>

    <div class="wrapper">

        <h2 class="titleofmoney">A guide on how to WIN the game of LIFE, by the opportunistic Entrepreneur Yosua Hutagalung</h2>
        <iframe width="1280" height="720" class="video"
            src="https://www.youtube.com/embed/xFaEG-eTPxs">
        </iframe>

        <h2 class="titleofmoney">A journey through true beauty to find the divine artform, by the visionary Artist Lukas (myself)</h2>
        <iframe width="1280" height="720" class="video"
            src="https://www.youtube.com/embed/F3rTfNgO-74">
        </iframe>

        <h2 class="titleofmoney">A path to auditorial and spiritual perfection, by the soothing Audiophile Samuel Sharon</h2>
        <iframe width="1280" height="720" class="video"
            src="https://www.youtube.com/embed/7EQP6SyfYSE">
        </iframe>

        <h2 class="titleofmoney">And a collection of music that transcends divinity of human nature, by me</h2>
        <div class="spotify video" style="width: 1500px">
            
            <iframe 
                src="https://open.spotify.com/embed/playlist/5WCRS6MD8odFUVfykRH3ov" 
                width="300" height="380" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
            </iframe>
            
            <iframe 
                src="https://open.spotify.com/embed/playlist/4rP2v2Hbt6GeiU9wiNTZ5H" 
                width="300" height="380" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
            </iframe>
            
            <iframe 
                src="https://open.spotify.com/embed/playlist/3qQ27GfdMzI9MCpfZy2gIe" 
                width="300" height="380" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
            </iframe>

            <iframe 
                src="https://open.spotify.com/embed/playlist/5VItICXtFUzgoAmqy7QRFL" 
                width="300" height="380" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
            </iframe>

            <iframe 
                src="https://open.spotify.com/embed/playlist/3BxfZzSglFnRr34Ap8dYDy" 
                width="300" height="380" frameborder="0" allowtransparency="true" 
                allow="encrypted-media">
            </iframe>

        </div>

        
    </div> 

    {% else %}

        <h1 style="text-align: center;font-size: 6em">YOU NEED TO</h1>

        <a style="text-align: center; " href="{% url 'login' %}">
            <h1 style="font-size: 8em; border:5px solid white; padding:1em; background-color: white">Log in</h1>
        </a>

        <h1 style="text-align: center;font-size: 6em">to see some LIFE CHANGING videos</h1>

        

    {% endif %}

    <a style="margin-left: 47%" href="/">
        <img style="width: 60px; background: white; padding:1em; border-radius:2.7em" src="../static/svgs/home.svg" alt="home">
    </a>

    </body>
</html>