body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(32, 32, 32);
    color: white;
}

.titleofmoney {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.video {
    margin: 2em;
    margin-left: 18%;
}