
/* home */
.top-name {
    text-align: justify;

    max-width: 627.58px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 81px;
    line-height: 95px;

    color: #000000;
}

.institution {

    max-width: 615.58px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.location {

    max-width: 220px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.mini-desc {

    max-width: 770.15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.email {

    width: 293.14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.soc-med {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.instagram {
    width: 82px;
}
.instagram:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    border-radius: 36px;
 }

.facebook {
    width: 82px;
}
.facebook:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    border-radius: 36px;
 }

.linkedin {
    width: 82px;
}
.linkedin:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    border-radius: 36px;
 }

.twitter {
    width: 82px;
}
.twitter:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    border-radius: 36px;
 }

.github {
    width: 82px;
}
.github:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    border-radius: 36px;
 }

.intro {
    padding: 50px;
}

.front-image {
    width: 587.6px;
    height: 880.74px;
    background: url(../img/JP47.jpg);
    background-size: contain;
    padding: 25px;
    
}

.story9 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

/* flex container of home*/
.intro-flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 200px;
    max-width: 1900px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    left: 5%;
    background-color: rgb(162, 233, 255);
}


/* sidebar*/
.sidbar-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0%; 
}
.sidbar-lab {
    width: 62px;
    
}
.sidbar-butt:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}
.sidbar-butt {
    padding: 10px;
    background-color: antiquewhite;
}

/* page 2 */
.about-me-title {

    max-width: 235.84px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 77px;
    padding: 35px;

    color: #000000;

}

.about-me-par {

    max-width: 796.79px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding: 35px;

    color: #000000;

}



.lang-logo {

    top: 1600px;
    display: flex;
    flex-direction: column;
}

.langitems {

    top: 1600px;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 35px;
}

.skill-title {

    max-width: 400px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 60px;
    padding: 35px;

    color: #000000;
}

.interest-title {

    max-width: 400px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 60px;
    padding: 35px;

    color: #000000;
}

.interest-logo {

    display: flex;
    flex-direction: row;
    max-width: 500px;
    justify-content: space-evenly;
    padding: 35px;
    flex-wrap: wrap;
}

.logo {
    width: 82px;

}

.side-me {

    width: 343.77px;
    height: 572.95px;
    left: 1200px;
    top: 1200px;
    position: absolute;

    background: url(../img/mesnow.jpg);
    background-size: cover;

}

/* flexes of page2*/
.about-me-flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1200px;
    max-width: 1900px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    left: 11%;
    background-color: rgb(162, 187, 255);
}

.skill {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1550px;
    max-width: 1900px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    left: 11%;
}


.other-interest-flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2000px;
    max-width: 1900px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    left: 11%;
    background-color: rgb(133, 209, 253);
}



/* projects */
.project {
    position: absolute;
    margin-left: 20%;
    width: 60%;
    
    padding: 10px;
    top: 2429.37px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    color: #000000;
}

.photos {
    
    width: 856.75px;
    height: 599.59px;
    padding: 45px;;

    background: url(../img/project-PHOTO.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.proj-desc {
    
    max-width: 423.71px;

    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 45px;
}

.proj1-name {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
}

.proj1-par {
    font-style: normal;
    font-size: 25px;
    line-height: 36px;
}


/*project flex*/
.proj1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 2600px;
    position: absolute;
    max-width: 100%;
    justify-content: space-evenly;
    left: 11%;
    background-color: rgb(160, 182, 255);
}


/*education*/
.education-panel {
    position: absolute;
    width: 500.75px;
    left: 12%;
    top: 2500px;
}

.edu-list {
    top: 2600px;
    font-size: 31px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.education-title {
    top: 2500px;
    font-size: 50px;
    font-weight: 50px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.photos-page-btn{
    border-radius: 10px;
    background-color: aquamarine;
}
.photos-page-btn:hover {
    
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.form-control {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    
}

.deskripsi-pelajaran {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}




@media (max-width: 1860px) {
    .about-me-flex {
        top: 1900px;
    }

    .skill {
        top: 2580px;
    }

    .other-interest-flex {
        top: 3050px;
    }
    .proj1 {
        top: 3700px;
    }
    .project {
        top: 3500px;
    }

    .education-panel {
        top: 3500px;
    }
}

@media (max-width: 1200px){
    .rectangles, .side-me {
        display: none;
    }
}

@media (max-width: 768px){
    .education-panel {
        left: 1%;
        padding-left: 0%;
    }
    .proj1 {
        left: 1%;
        padding-left: 0%;
    }
    .other-interest-flex {
        left: 1%;
        padding-left: 0%;
    }
    .about-me-flex {
        left: 1%;
        padding-left: 0%;
    }
    .skill {
        left: 1%;
        padding-left: 0%;
    }
    .front-image {
        left: 1%;
        padding-left: 0%;
    }
    
}